.settings
.project
target

eclipse-libs/.settings
eclipse-libs/.project
eclipse-libs/target

framework/.settings
framework/.project
framework/target

framework/common/.settings
framework/common/.classpath
framework/common/.project
framework/common/target

framework/repository/.settings
framework/repository/.classpath
framework/repository/.project
framework/repository/target

framework/share/.settings
framework/share/.classpath
framework/share/.project
framework/share/target

patch-modules/.settings
patch-modules/.project
patch-modules/target

patch-modules/common/.settings
patch-modules/common/.classpath
patch-modules/common/.project
patch-modules/common/target

patch-modules/repository/.settings
patch-modules/repository/.classpath
patch-modules/repository/.project
patch-modules/repository/target

patch-modules/share/.settings
patch-modules/share/.classpath
patch-modules/share/.project
patch-modules/share/target