.settings
.project
target
common/.settings
common/.classpath
common/.project
common/target
repository/.settings
repository/.classpath
repository/.project
repository/target
share/.settings
share/.classpath
share/.project
share/target